.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba($color: #ffffff, $alpha: 0.98);
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;

    .header-left {
        margin-left: 7px;
        .logo {
            margin-left: 15px;
        }
    }
    .header-left,
    .header-right {
        display: flex;
        align-items: center;
    }
    .search {
        display: none;
    }
    .icon {
        color: rgba(0, 0, 0, 0.55);
    }
    .profile-pic {
        width: 40px;
        height: auto;
    }
}

@media only screen and (min-width: 500px) {
    .header {
        .search {
            display: flex;
            flex: 1;
            margin-left: 7%;
            margin-right: 7%;
            align-items: center;

            input {
                flex: 1;
                padding: 5px 10px;
                font-size: 20px;
                border: 1px lightgray solid;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
            }
            .button {
                padding: 5px 25px 4px 25px;
                border: 1px lightgray solid;
                background-color: #f8f8f8;
                border-left: none;
                cursor: pointer;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
                
                .searchIcon {
                    color: gray;
                    font-size: 20px;
                }
            }
        }
    }
}