$menuFontColor: rgba(0, 0, 0, 0.65);

.sidebar-container {
    display: none;
    flex-direction: column;
    height: 100vh;
    width: fit-content;
    background-color: white;
    margin-top: 58px;
    position: fixed;

    .sidebar-content {
        text-align: center;
        width: 70px;
        height: auto;
        cursor: pointer;
        padding-top: 15px;
        padding-bottom: 15px;
        color: $menuFontColor;

        p {
            font-size: 10px;
        }
    }
    .sidebar-content:hover {
        background-color:  rgba(0, 0, 0, 0.05);
    }
    .sidebar-content:active {
        color: red;
    }
    .menu {
        display: none;

    }
}
@media only screen and (min-width: 500px) {
    .sidebar-container {
        display: flex;
    }
}

@media only screen and (min-width: 1325px) {
    .sidebar-container {
        .sidebar-content {
            display: none;
        }
        .menu {
            display: block;
        }
    }   
}