$topics-color:  rgba(0, 0, 0, 0.8);
#trending {
    
    .trending-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0px 20px;
        
        hr {
            height: 0;
            border-top: rgba(0, 0, 0, 0.2) 1px solid;
            margin-bottom: 20px;
        }

        .trending-topics {
            display: flex;
            gap: 25px;
            margin-bottom: 20px;

            .topics-icon-container {
                display: flex;
                flex-direction: column;
    
                .topics-icon {
                    color: white;
                    background-color: $topics-color;
                    padding: 10px;
                    font-size: 25px;
                    border-radius: 50%;
                }
                p {
                    font-weight: 500;
                    color: $topics-color;
                    text-align: center;
                }
            }
        }
        .trending-videos-container {
            display: flex;
            flex-direction: column;
            gap: 35px;
        }
    }
}
@media only screen and (min-width: 500px)  {
    #trending {
        .trending-container {
            padding: 20px;
            .trending-topics {
                gap: 35px;
                .topics-icon-container {
                    .topics-icon {
                        padding: 15px;
                        font-size: 50px;
                    }
                    p {
                        font-weight: 500;
                        color: $topics-color;
                        text-align: center;
                    }
                }
            }
        }
    }
}