#trending {
    display: flex;
    flex-direction: column;
    flex: 1;

    .trending-container {
        flex: 1;
        border: blue 1px solid;
        margin-left: auto;
        margin-right: auto;

        .trending-topics {
            display: flex;
            gap: 35px;
        }
        .trending-videos-container {
            display: flex;
            flex-direction: column;
            gap: 35px;
        }
    }
}