#trending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    border: blue 1px solid;

    .trending-container {
        width: 750px;
        justify-self: center;
        border: blue 1px solid;

        .trending-topics {
            display: flex;
            gap: 35px;
        }
        /*.trending-videos-container {

        }*/
    }
}