.videoCard {
    width: 100%;
    max-width: 300px;
    margin-bottom: 50px;

    .thumbnail {
        width: 100%;
        height: auto;
    }
    .videoCard-info {
        display: flex;
        gap: 10px;
        padding: 10px 5px 0px 0px;

        .videoCard-avatar {
            z-index: 0;
        }
        .video-text {
            //padding: 10px;

            .video-title {
                font-size: 14px;
                font-weight: 500;
                color: black;
            }
            p {
                font-size: small;
                color: gray;
            }
        }
        .more-icon {
            color: gray;
        }
        
    }
}

@media only screen and (min-width: 500px) {
    .videoCard {
        width: 45%;
    }
}

@media only screen and (min-width: 768px) {
    .videoCard {
        width: 30%;
    }
}


